# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Docker-generated config files
config/prowlarr/asp/
config/prowlarr/logs/
config/prowlarr/Sentry/
config/prowlarr/*.db*
config/prowlarr/*.pid
config/prowlarr/config.xml
config/prowlarr/Definitions/
config/prowlarr/Backups/

config/transmission/blocklists/
config/transmission/resume/
config/transmission/torrents/
config/transmission/*.dat
config/transmission/*.json
config/transmission/dht.dat

config/radarr/asp/
config/radarr/logs/
config/radarr/*.db*
config/radarr/*.pid
config/radarr/config.xml
config/radarr/Backups/

config/sonarr/asp/
config/sonarr/logs/
config/sonarr/*.db*
config/sonarr/*.pid
config/sonarr/config.xml
config/sonarr/Backups/

config/plex/Library/Application Support/Plex Media Server/Logs
config/plex/Library/Application Support/Plex Media Server/Cache
config/plex/Library/Application Support/Plex Media Server/Crash Reports
config/plex/Library/Application Support/Plex Media Server/Plug-in Support
config/plex/Library/Application Support/Plex Media Server/.LocalAdminToken
config/plex/Library/Application Support/Plex Media Server/plexmediaserver.pid

# Task files
# tasks.json
# tasks/ 
